<div *ngIf="user">
  <p>{{ user.username }} - {{ user.email }}</p>
</div>
<hr />
<div>
  <p>Images:</p>
  <div class="app-deck">
    <div *ngFor="let job of jobs" class="app-card">
      <div class="app-info">
        <div class="job-data">
          <p>{{ job.name }}</p>
          <p>{{ job.date.split("T")[0] }}</p>
          <p style="color: gray; font-size: 10px">{{ job._id }}</p>
        </div> 
        <div class="job-graphics">
          <p>Row 2</p>
        </div>
      </div>
      <button class="card-button">advance progress</button>
      <button class="delete-button" (click)="deleteJob(job._id)">
        delete image
      </button>
    </div>
    <div class="app-card" [routerLink]="['/add-job']">
      <p>+ add new image</p>
    </div>
  </div>
</div>
